@model RMS.Web.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CommonDesign/commonBootStrap.css" rel="stylesheet" />
@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center">Password Reset</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <label class="col-md-2 control-label" style=" padding-top:5px"><b>User ID:</b></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.UserIdForReset, new { @class = "form-control", autofocus = "autofocus", tabindex = 1, placeholder = "Enter User ID", required = "required" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.UserIdForReset)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8" style="text-align:right">
                            <input type="submit" id="btnSave" value="Reset Password" class="btn btn-info" tabindex=5 />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    @if (Model.Message != null)
                    {
                        if (Model.IsSucceed == 1)
                        {
                            <div style="color:green">@Model.Message</div>
                        }
                        else
                        {
                            <div style="color:red">@Model.Message</div>
                        }
                    }
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>
        </div>
    </div>
}
