<?xml version="1.0"?>
<connectionStrings>

  <!--<add name="DSBDBEntities" connectionString="metadata=res://*/DSBDBModel.csdl|res://*/DSBDBModel.ssdl|res://*/DSBDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.134.95.236;initial catalog=DSBDB;persist security info=True;user id=repuser;password=B@ngl@d3sh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SQLConnectionString" connectionString="server=114.134.95.236; Database=DSBDB; uid=repuser; pwd=B@ngl@d3sh; Connect Timeout=90;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>-->

  <!--<add name="DSBDBEntities" connectionString="metadata=res://*/DSBDBModel.csdl|res://*/DSBDBModel.ssdl|res://*/DSBDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-S1DOAGE\SQL14;initial catalog=DSBDB;persist security info=True;user id=repuser;password=B@ngl@d3sh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SQLConnectionString" connectionString="server=DESKTOP-S1DOAGE\SQL14; Database=DSBDB; uid=repuser; pwd=B@ngl@d3sh; Connect Timeout=90;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>-->


	<add name="DSBDBEntities" connectionString="metadata=res://*/DSBDBModel.csdl|res://*/DSBDBModel.ssdl|res://*/DSBDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.134.95.238;initial catalog=DSBDB;persist security info=True;user id=sa;password=B@ngl@d3sh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="SQLConnectionString" connectionString="server=114.134.95.238; Database=DSBDB; uid=sa; pwd=B@ngl@d3sh; Connect Timeout=90;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>

</connectionStrings>
