
@{
    ViewBag.Title = "Blank";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}

<h2>Error Page</h2>

<div class="row">
    <div class="col-sm-12 col-lg-12">
             <h2><p style="color:green">@TempData["message"]</p></h2>  
    </div>
</div>