@using RMS.Utility
@{
    Layout = null;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="pull-right">
            <li><a href=""><i class="fa fa-user" aria-hidden="true"></i>&nbsp;@PortalContext.CurrentUser.UserFullName</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in" aria-hidden="true"></i>sign out</a></li>
        </ul>

    }
}


