<div class="img-responsive table-responsive">
    <p style="text-align:justify">
        <b>Infinity Technology International Limited</b> is an ISO 9001-2008 certified software company specialized in banking and 
        financial business solution. Founded in 1993, Infinity is one of the leading providers of banking and financial 
        software systems in Bangladesh. We have been in banking industry for the last 20 years to provide technology driven 
        solutions to meet the objects of our customer. Our focus is on cost effective solution and safeguard the interests of customers. 
        We have proven long track record of delivering business value to our customers through innovation, quality, 
        commitment and performance. Our business network is wide and experience is vast. We successfully serve over 1650 bank branches 
        across the country that covers both nationalized and private sector banks, large and small size banks, commercial and specialized 
        banks. Our network is also extended to international arena as our remittance business management solution is now successfully 
        running in many exchange houses of UK, Canada, Australia, Sweden and Malaysia. Number of our clients in remittance business at 
        home and abroad is expected to increase in the coming years as our solution is becoming popular in the market day by day. 
       </p>
</div>
